.main-body-wrapper {
    margin: 150px;
    display: grid;
}

.create-blog .blog-wrapper {
    background-color: #03BFCB;
    border: 1px solid black;
    width: 300px;
}

.create-blog .blog-wrapper .summary{
    text-align: center;
    list-style: none;
}

.update-blog .update-wrapper {
    background-color: #03BFCB;
    border: 1px solid black;
    width: 300px;
}

.update-blog .update-wrapper .summary {
    text-align: center;
    list-style: none;
}

.delete-blog .delete-wrapper {
    background-color: #03BFCB;
    border: 1px solid black;
    width: 300px;
}

.delete-blog .delete-wrapper .summary {
    text-align: center;
    list-style: none;
}